<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="/admin">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Ana Ekran
                </a>
                <a class="nav-link" href="/admin/Appusers">
                    <div class="sb-nav-link-icon"><i class="fa-regular fa-user"></i></div>
                    Kullanıcı Yönetimi
                </a>


                <a class="nav-link" href="/admin/Brands">
                    <div class="sb-nav-link-icon"><i class="fa-regular fa-copyright"></i></div>
                    Marka Yönetimi
                </a>
                <a class="nav-link" href="/admin/Categories">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-list"></i></div>
                    Kategori Yönetimi 
                </a>

                <a class="nav-link" href="/admin/Products">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-barcode"></i></div>
                    Ürün Yönetimi
                </a>
                <a class="nav-link" href="/admin/News">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-fullhorn"></i></div>
                    Kampanya ve Duyurular
                </a>

                <a class="nav-link" href="/admin/Sliders1">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-layer-group"></i></div>
                    Slider Yönetimi
                </a>
  
                <a class="nav-link" href="/admin/Contacts">
                    <div class="sb-nav-link-icon"><i class="fa-regular fa-comments"></i></div>
                    İletişim Formları
                </a>
    

            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Admin
        </div>
    </nav>
</div>