@model News

@{
    ViewData["Title"] = Model.Name;
}
<h1>@Model.Name</h1>

<div class="row">

    <div class="col-md-6">
        <img src="/Img/News/@Model.Image" alt="@Model.Name" class="img-fluid" />
    </div>
    <div class="col-md-6">
        @Model.Description
    </div>
</div>